<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} ZOPA %t %-5p [%c:%L] - %m%n</Property>
	</Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <File name="LogToFile" fileName="C:/logs/exercise/zopa.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.zopa" level="debug" additivity="false">
        	<AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
        	<AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>